__pycache__/
.ipynb_checkpoints/

/dissect/results/
/dissect/resources/

/segmentation/dataset_generator/dataset/
/segmentation/dataset_generator/Sprites/
/segmentation/training/models/
/segmentation/training/logger/
